<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>First test page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Simple test page 2 - the routerLink button seems to work only once. But why?
</ion-content>

<ion-footer>
  <ion-button color="success" href="/second">href /second</ion-button>
  <ion-button color="danger" href="../second">href ../second</ion-button>
  <ion-button color="danger" routerLink="../second">routerLink ../second</ion-button>
</ion-footer>
